<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Gestión de Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="false" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Frase</ion-label>
    <ion-input [(ngModel)]="frase" required minlength="5"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Autor</ion-label>
    <ion-input [(ngModel)]="autor" required minlength="2"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="agregarCita()">
    Agregar Cita
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let cita of citas">
      <ion-label>
        <h2>{{ cita.frase }}</h2>
        <p>{{ cita.autor }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="eliminarCita(cita)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
